body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

#canvas {
  width: 80vmin;
  height: 80vmin;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex: 1;
}

.col {
  flex: 1;
  border: 1px solid black;
}

button {
  margin-bottom: 10px;
}
#buttons {
  display: flex;
  gap: 10px;
}

.colourBtn {
   border: 1px outset;
   height:50px;
   width:50px;
   cursor:pointer;
}
